<nav class="navbar navbar-inverse navbar-fixed-top" style="matgin: 100px">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">The Company</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a th:href="@{'/tasks'}">Tasks</a></li>
            <li><a th:href="@{'/offices'}">Offices</a></li>
            <li><a th:href="@{'/employees'}">Employees</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <!--  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
        </ul>
    </div>
</nav>